header{
  text-align: left;
  padding: 10px;
  background-image: url(../素材/トップ画像.jpg);
  height: 720px;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 50px;
}

header li{
  display: inline-block;
  padding: 20px 20px 5px;
  font-size: 20px;
}

header li> a{
  text-decoration: none;
  color:floralwhite;
}

body {
  text-align: center;
}

.header {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.icon img {
  border-radius: 50%;
  width: 135px;
  height: 135px;
}

h1 {
  color:darkgreen;
  font-size: 24px;
}

.name {
  color:darkgreen;
  font-size: 16px;
}

.item {
  border-width: 1px;
  border-color: brown;
  border-style: solid;
  border-radius: 8px;
  padding-bottom: 8px;
}