body {
  margin: 0 auto;
  max-width: 980px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

menu{
  position: fixed;
  width: 980px;
  top: 0;
  padding-left: 0px;
  height: 70px;
  text-align: right;
  background-size: cover;
  background-color: mistyrose;
  z-index:10000;
}

h1 {
  color:olive;
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  background-color: mistyrose;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 300px;
  margin-bottom: 100px;
}

menu li{
  display: inline-block;
  padding: 10px 20px 5px;
  font-size: 20px;
  font-weight: 400;
}

menu li> a{
  text-decoration: none;
  color:lightsalmon;
}

#top {
  text-align: center;
}


.item {
  padding-bottom: 80px;
}

/* プロフィール */
h2 {
  font-size: 32px;
  color:lightsalmon;
  border-bottom:5px solid lightsalmon;
  font-weight: 700;
  padding-top: 90px;
  margin-bottom: 60px;
}

#icon img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
}

#section1 {
  display:flex;
  justify-content:space-around;
  align-items: center;
}

/* 研究 */
#cg {
  text-align: center;
}

#cg1{
  width: 45%;
  height: 45%;
}

#cg2 {
  width: 45%;
  height: 45%;  
}

#model {
  text-align: center;
  padding-top: 50px;
}

#model img {
  width: 600px;
}

#model1 {
  /* 左上のみ角丸 */
  border-top-left-radius: 10%;
  -webkit-border-top-left-radius: 10%;
  -moz-border-radius-topleft: 10%;

  /* 右上のみ角丸 */
  border-top-right-radius: 10%;
  -webkit-border-top-right-radius: 10%;
  -moz-border-radius-topright: 10%;
}

#model4 {
  /* 左下のみ角丸 */
  border-bottom-left-radius: 10%;
  -webkit-border-bottom-left-radius: 10%;
  -moz-border-radius-bottomleft: 10%;

  /* 右下のみ角丸 */
  border-bottom-right-radius: 10%;
  -webkit-border-bottom-right-radius: 10%;
  -moz-border-radius-bottomright: 10%;
}


/* 趣味 */
h4 {
  margin-top: 10px;
}

.section3 {
  display:flex;
  justify-content:space-between;
  align-items: center;
}

#curry {
  width: 169px;
  height: 169px;
  /* 左上のみ角丸 */
  border-top-left-radius: 10%;
  -webkit-border-top-left-radius: 10%;
  -moz-border-radius-topleft: 10%;
}

#noodle {
  width: 169px;
  height: 169px;
  /* 右上のみ角丸 */
  border-top-right-radius: 10%;
  -webkit-border-top-right-radius: 10%;
  -moz-border-radius-topright: 10%;

}

#tokakulive {
  width: 35%;
  height: 35%;
  /* 左下のみ角丸 */
  border-bottom-left-radius: 10%;
  -webkit-border-bottom-left-radius: 10%;
  -moz-border-radius-bottomleft: 10%;

  /* 右下のみ角丸 */
  border-bottom-right-radius: 10%;
  -webkit-border-bottom-right-radius: 10%;
  -moz-border-radius-bottomright: 10%;
}

/* 作品 */
.picture {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#tokaku1 {
  width: 330px;
}

#tokaku2 {
  width: 400px;
}

#tokaku3 {
  width: 330px;
}

#tokaku4 {
  width: 237px;
}

#tokaku5 {
  width: 237px;
}

#tokaku6 {
  width: 237px;
}

#text {
  padding-top: 50px;
  padding-bottom: 50px;
}

